.animation {
    background: url(img/clock.png) no-repeat;
    width: 128px;
    height: 128px;
    display: inline-block;
}
.red {
    background-color: red;
}
.animation2 {
    background: url(img/clock.png) no-repeat;
    width: 128px;
    height: 128px;
    display: inline-block;
}
.clock {
    background: url(img/clock.png) no-repeat;
    width: 128px;
    height: 128px;
    display: inline-block;
}
.clock2 {
    background: url(img/clock.png) no-repeat;
    width: 128px;
    height: 128px;
    display: inline-block;
}
.numbers-4x4 {
    background: url(img/numbers-4x4.png) no-repeat;
    width: 250px;
    height: 250px;
    display: inline-block;
}
.numbers-1x16 {
    background: url(img/numbers-1x16.png) no-repeat;
    width: 200px;
    height: 100px;
    display: inline-block;
}
.numbers-16x1 {
    background: url(img/numbers-16x1.png) no-repeat;
    width: 100px;
    height: 100px;
    display: inline-block;
}